<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TrackJsLogStash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TrackJsClientId"  value=""/>
    <add key="TrackJsApiKey"  value=""/>
    <add key="TrackJsApplication"  value=""/>
  </appSettings>
  <nlog>
    <extensions>
      <add assembly="NLog.Targets.ElasticSearch" />
    </extensions>

    <targets async="true">
      <target name="elastic" type="BufferingWrapper" flushTimeout="5000">
        <target type="ElasticSearch" uri="" >
          <field name="message" layout="${event-properties:item=messageDetails}" />
          <field name="timestamp" layout="${event-properties:item=timestamp}" />
          <field name="id" layout="${event-properties:item=messageId}" />
          <field name="browserName" layout="${event-properties:item=browserName}"  />
          <field name="broswerVersion" layout="${event-properties:item=broswerVersion}"  />
          <field name="entry" layout="${event-properties:item=entry}"  />
          <field name="line" layout="${event-properties:item=line}"  />
          <field name="column" layout="${event-properties:item=column}"  />
          <field name="file" layout="${event-properties:item=file}"  />
          <field name="userId" layout="${event-properties:item=userId}"  />
          <field name="sessionId" layout="${event-properties:item=sessionId}"  />
          <field name="trackJsUrl" layout="{$event-properties:item=trackJsUrl}"  />
          <field name="metadata" layout="{$event-properties:item=metadata}"  />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="elastic" />
    </rules>
  </nlog>
  <userSettings>
    <TrackJsLogStash.Properties.Settings>
      <setting name="LastUpdatedDate" serializeAs="String">
        <value>11/11/2001</value>
      </setting>
    </TrackJsLogStash.Properties.Settings>
  </userSettings>
</configuration>